body {
    background-image: url("StackedWaves.svg");
    background-size: cover;
    background-attachment: fixed;
    background-position: center bottom;
    background-repeat: no-repeat;
}

div#footer {
    bottom: 0;
    position: fixed;
}

header#navbar-laterale {
    border: 3px solid #0b2545;
}
