div#titolo {
    padding: 1.6rem 0px 1.6rem 0px;
}

img.foto-podcast {
    width: 10rem;
    height: 10rem;

    border-radius: 50%;

    background-color: rgba(238, 244, 237, 0.6);

    object-fit: cover;
}

.descrizione-episodio {
    width: 700px;
}

img.foto-commento {
    width: 3rem;
    height: 3rem;

    border-radius: 50%;

    background-color: rgba(238, 244, 237, 0.6);
}

.commento {
    color: var(--oxford-blue);

    border: 3px solid var(--prussian-blue);
    border-radius: 15px;

    background-color: rgba(238, 244, 237, 0.6);
}

div#player {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

button {
    color: var(--mint-cream) !important;
    background-color: var(--indigo-dye) !important;
}

div.btn-group > button:hover {
    border-color: var(--mint-cream) !important;
}

.decorazione-modal {
    color: var(--mint-cream);
    background-color: var(--indigo-dye);
    border: 2px solid var(--mint-cream);
    border-radius: 15px;
}

.btn-modal {
    color: var(--mint-cream) !important;
    border: 2px solid var(--mint-cream);
    border-radius: 10px;
    background-color: transparent !important;

    transition: 0.4s;
}

.btn-modal:active {
    background-color: var(--mint-cream) !important;
    color: var(--oxford-blue) !important;
}
