div#titolo {
    padding: 1.6rem 0px 1.6rem 0px;
}

img.foto-podcast {
    width: 10rem;
    height: 10rem;

    border-radius: 50%;

    background-color: rgba(238, 244, 237, 0.6);

    object-fit: cover;
}

div.sfondo {
    color: var(--oxford-blue);

    border: 3px solid var(--prussian-blue);
    border-radius: 15px;

    background-color: rgba(238, 244, 237, 0.6);
}

a.btn {
    color: var(--mint-cream) !important;
    background-color: var(--indigo-dye) !important;
}

.decorazione-modal {
    color: var(--mint-cream);
    background-color: var(--indigo-dye);
    border: 2px solid var(--mint-cream);
    border-radius: 15px;
}

main {
    max-height: 90vh;
}

.btn-search {
    color: var(--oxford-blue) !important;
    background-color: #fff !important;
    padding: 0px 10px 0px 10px;
}

button {
    color: var(--mint-cream) !important;
    border: 2px solid var(--mint-cream);
    border-radius: 10px;
    background-color: transparent !important;

    transition: 0.4s;
}

.descrizione-episodio {
    width: 700px;
}

button:active {
    background-color: var(--mint-cream) !important;
    color: var(--oxford-blue) !important;
}

div.btn-group > button {
    color: var(--mint-cream) !important;
    background-color: var(--indigo-dye) !important;
}

div.btn-group > button:hover {
    border-color: var(--mint-cream) !important;
}

.btn-modal {
    color: var(--mint-cream) !important;
    border: 2px solid var(--mint-cream);
    border-radius: 10px;
    background-color: transparent !important;

    transition: 0.4s;
}

.btn-modal:active {
    background-color: var(--mint-cream) !important;
    color: var(--oxford-blue) !important;
}

.btn-segui {
    margin: 0;
    border-width: 0px;
}

.btn-segui:active {
    background-color: transparent !important;
    color: var(--mint-cream) !important;
}
