:root {
    /* Palette colori */
    --oxford-blue: #0b2545;
    --prussian-blue: #13315c;
    --indigo-dye: #134074;
    --pewter-blue: #8da9c4;
    --mint-cream: #eef4ed;
}

html {
    height: 100%;
    overflow: hidden hidden;
}

body {
    font-family: "Kanit", sans-serif !important;
    color: var(--mint-cream) !important;

    background: rgb(11, 37, 69);
    background: linear-gradient(
        180deg,
        rgba(11, 37, 69, 1) 0%,
        rgba(19, 49, 92, 1) 31%,
        rgba(19, 64, 116, 1) 60%,
        rgba(141, 169, 196, 1) 93%,
        rgba(238, 244, 237, 1) 100%
    );

    min-height: 100%;
    display: flex;
    flex-direction: column;
}

div#main {
    padding-top: 1rem;
}

main {
    max-height: 92vh;

    overflow: hidden scroll;
}

body * {
    padding: 2px;
}

.clean-link {
    color: var(--mint-cream);
    text-decoration: none;
}

a.home-link {
    padding-left: 10px;
    padding-right: 10px;

    color: var(--mint-cream);
    text-decoration: none;

    border-radius: 10px;

    transition: 0.3s;
}

a.home-link:hover {
    border: 1px solid var(--mint-cream);
    background-color: var(--prussian-blue);
}

a.active {
    border: 1px solid var(--mint-cream);
    background-color: var(--prussian-blue);
}

a.main-link {
    padding-left: 10px;
    padding-right: 10px;

    color: var(--mint-cream);
    text-decoration: none;

    border: 3px solid var(--mint-cream);
    background-color: var(--prussian-blue);
    border-radius: 10px;

    transition: 0.3s;
}

a.main-link:hover {
    border: 3px solid var(--prussian-blue);
    background-color: var(--mint-cream);
    color: var(--prussian-blue);
}

a.main-link:active {
    background-color: #c8c8c8;
}

a.footer-link {
    color: var(--prussian-blue);
    text-decoration: none;
}

.top-border {
    border-top: 3px solid var(--pewter-blue);
}

div#footer {
    border-top: 3px solid var(--oxford-blue);
    color: var(--prussian-blue);
    margin-top: auto;
}

.titolo-section {
    padding: 0.5rem 0 0.5rem 0;

    font-style: italic;
}
