:root {
    /* Palette colori */
    --oxford-blue: #0b2545;
    --prussian-blue: #13315c;
    --indigo-dye: #134074;
    --pewter-blue: #8da9c4;
    --mint-cream: #eef4ed;
}

html {
    height: 100%;
    overflow: hidden hidden;
}

body {
    font-family: "Kanit", sans-serif !important;
    color: var(--mint-cream) !important;

    background: rgb(11, 37, 69);
    background: linear-gradient(
        180deg,
        rgba(11, 37, 69, 1) 0%,
        rgba(19, 49, 92, 1) 31%,
        rgba(19, 64, 116, 1) 60%,
        rgba(141, 169, 196, 1) 93%,
        rgba(238, 244, 237, 1) 100%
    );
    /*
    background-image: url("Immagini/Sfondi/StackedWaves.svg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    */

    min-height: 100%;
    display: flex;
    flex-direction: column;
}

div#main {
    padding-top: 1rem;
}

main {
    max-height: 92vh;

    overflow: hidden scroll;
}

body * {
    padding: 2px;
}

a.footer-link {
    color: var(--prussian-blue);
    text-decoration: none;
}

.top-border {
    border-top: 3px solid var(--oxford-blue);
}

div#footer {
    color: var(--prussian-blue);
    margin-top: auto;
}
