div.card {
    border-width: 0px;
    padding: 0px;
    margin: 3px;

    background: transparent;
}

.immagine-podcast {
    border: 2px solid var(--mint-cream);
    border-radius: 20px;
    border-radius: 20px;
    padding: 0px;
    max-width: 20rem;
    max-height: 20rem;
    object-fit: contain;
}

.card-body {
    border-radius: 20px;
    padding: 10px 20px 0px 20px;

    color: var(--mint-cream);
    min-height: 10rem;

    background: rgb(0, 0, 0);
    background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.7) 0%,
        rgba(0, 0, 0, 0.6) 45%,
        rgba(149, 149, 149, 0) 100%
    );
}

.card-title {
    font-size: x-large;
}

.card-text {
    overflow: hidden hidden;
}

button {
    color: var(--mint-cream) !important;
    border: 2px solid var(--mint-cream);
    border-radius: 10px;
    background-color: transparent !important;

    transition: 0.4s;
}

button:active {
    background-color: var(--mint-cream) !important;
    color: var(--oxford-blue) !important;
}

.btn-search {
    color: var(--oxford-blue) !important;
    background-color: #fff !important;
    padding: 0px 10px 0px 10px;
}
