:root {
    /* Palette colori */
    --oxford-blue: #0b2545;
    --prussian-blue: #13315c;
    --indigo-dye: #134074;
    --pewter-blue: #8da9c4;
    --mint-cream: #eef4ed;
}

html {
    height: 100%;
}

body {
    font-family: "Kanit", sans-serif !important;
    color: var(--mint-cream) !important;

    background-image: url("Immagini/Sfondi/StackedWaves.svg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;

    min-height: 100%;
    display: flex;
    flex-direction: column;
}

body * {
    padding: 2px;
}

header#navbar-laterale {
    border-top: 3px solid var(--oxford-blue);
    border-bottom: 3px solid var(--oxford-blue);
}

div#barra-laterale a {
    color: var(--mint-cream);
    text-decoration: none;
}

div.elenco-podcast {
    border-top: 3px solid var(--oxford-blue);
}

div.card {
    border: 3px solid var(--oxford-blue);
    margin: 3px;
    max-width: 18rem;
    max-height: 18rem;

    background: linear-gradient(
        180deg,
        rgba(255, 110, 0, 1) 18%,
        rgba(255, 166, 0, 1) 66%
    );
}

.immagine-podcast {
    width: 10rem;
    height: 10rem;
    object-fit: cover;
}

div#footer {
    margin-top: auto;
    border-top: 3px solid var(--oxford-blue);
}
