a.home-link {
    padding-left: 10px;
    padding-right: 10px;

    color: var(--mint-cream);
    text-decoration: none;

    border-radius: 10px;

    transition: 0.3s;
}

a.home-link:hover {
    border: 1px solid var(--mint-cream);

    background-color: var(--prussian-blue);
}

div.card {
    border: 3px solid var(--oxford-blue);
    margin: 3px;
    max-width: 18rem;
    max-height: 18rem;

    background: linear-gradient(
        180deg,
        rgba(255, 110, 0, 1) 18%,
        rgba(255, 166, 0, 1) 66%
    );
}

.immagine-podcast {
    max-width: 18rem;
    max-height: 10rem;
    object-fit: cover;
}
