a.home-link {
    padding-left: 10px;
    padding-right: 10px;

    color: var(--mint-cream);
    text-decoration: none;

    border: 2px solid var(--mint-cream);
    border-radius: 10px;

    transition: 0.3s;
}

a.active {
    background-color: var(--indigo-dye);
}

a.home-link:hover {
    background-color: var(--prussian-blue);
}

div#saluto {
    padding: 1.6rem 0px 1.6rem 0px;
}

img.foto-profilo {
    width: 10rem;
    height: 10rem;

    border-radius: 50%;

    background-color: rgba(238, 244, 237, 0.6);
}
