{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='episodio.css')}}">
{% endblock %}

{% block titolo %}
<title>Podcast - {{ episodio.titolo }}</title>
{% endblock %}

{% block barra_laterale %}
<header id="navbar-laterale" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <a class="clean-link p-0" href="{{ url_for('homepage') }}" title="Homepage">
            <h2>
                Podcast
                <i class="bi bi-house"></i>
            </h2>
        </a>

        {% if current_user.is_authenticated %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('profilo') }}" title="Profilo">Profilo</a></h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('logout') }}" title="Logout">Logout</a></h4>
        {% else %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('registrati') }}" title="Registrati">Registrati</a>
        </h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('login') }}" title="Login">Login</a></h4>
        {% endif %}
    </div>
</header>

<aside id="barra-ricerca" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <h2>Ricerca</h2>
        <h4 class="ps-2 mb-3">
            <a class="home-link" href="{{ url_for('categorie') }}" title="Categorie">Categorie</a>
        </h4>
        {% if current_user.is_authenticated %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('seguiti') }}" title="Seguiti">I podcast che
                segui</a></h4>
        {% if current_user.is_creatore() %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('tuoi_podcast') }}" title="I tuoi podcast">I tuoi
                podcast</a></h4>
        {% endif %}
        {% endif %}
    </div>
</aside>
{% endblock %}

{% block contenuto_principale %}
<div id="titolo" class="top-border">
    <div class="d-flex justify-content-evenly align-items-center">
        <img class="foto-podcast" src="{{ url_for('static', filename=podcast.immagine) }}">
        <div class="info-scritte d-flex flex-column align-items-start">
            <div class="titolo-autore">
                <h1 class="m-0 col"><b>{{ podcast.titolo }}</b> - <em>{{ podcast.username }}</em></h1>
            </div>
            <div class="titolo-episodio">
                <h2 class="m-0 col">{{ episodio.titolo }}</h2>
            </div>
            <div class="descrizione-episodio">
                <p class="m-0 col">{{ episodio.descrizione }}</p>
            </div>
        </div>
    </div>
</div>

<div id="player">
    <div class="row m-0 justify-content-center">
        <audio class="col-10" src="{{ url_for('static', filename=episodio.audio) }}" type="audio/mp3" controls></audio>
    </div>

    <div class="m-0 mt-2 d-flex justify-content-around">
        {% if episodio_precedente != None %}
        <a href="{{ url_for('episodio', id_podcast=podcast.id_podcast, id_episodio=episodio_precedente.id_episodio) }}"
            class="home-link">
            <h5 class="m-0 p-1">Episodio precedente</h5>
        </a>
        {% endif %}

        <a href="{{ url_for('podcast', id_podcast = podcast.id_podcast) }}" class="home-link">
            <h5 class="m-0 p-1">Torna al podcast</h5>
        </a>

        {% if episodio_successivo != None %}
        <a href="{{ url_for('episodio', id_podcast=podcast.id_podcast, id_episodio=episodio_successivo.id_episodio) }}"
            class="home-link">
            <h5 class="m-0 p-1">Episodio successivo</h5>
        </a>
        {% endif %}

    </div>
</div>

<div id="commenti" class="top-border pt-3">
    <h3 class="m-0 text-center">Commenti</h3>

    {% if num_commenti == 0%}
    <h5 class="m-0 text-center">Nessuno ha ancora commentato questo episodio.</h5>
    {% else %}
    {% for commento in commenti %}
    <div class="row m-0 mb-2 justify-content-center">
        <div class="commento col-11 row m-0 align-items-center justify-content-start">
            <div class="col-3 d-flex align-items-center">
                <div class="foto-commento rounded-circle me-1">
                    <img class="foto-commento" src=" {{ url_for('static', filename=commento.immagine_profilo) }}"
                        alt="Foto profilo" />
                </div>
                <h5 class="m-0">{{ commento.username }}</h5>
            </div>
            <p class="col-5 m-0">{{ commento.contenuto }}</p>
            <h6 class="col-2 m-0 text-center">{{ commento.data }}</h6>

            {% if current_user.get_id() == commento.id_utente %}
            <div class="col-2 d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="modifica commento">
                    <button type="button" class="btn" data-bs-toggle="modal"
                        data-bs-target="#modifica">Modifica</button>
                    <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#elimina">Elimina</button>
                </div>

                <div class="modal fade" id="modifica" tabindex="-1" aria-labelledby="modale-modifica"
                    aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content decorazione-modal">
                            <form action="/modifica" method="POST" enctype="multipart/form-data">
                                <div class="modal-header">
                                    <h3 class="text-center">Modifica il commento</h3>
                                </div>
                                <div class="modal-body">
                                    <div class="row d-flex align-items-start mb-2">
                                        <labal for="contenuto" class=" col-3 mt-2">Commento:</labal>
                                        <input type="text" name="contenuto" class="form-control col" required
                                            minlength="2" maxlength="140"></input>
                                    </div>

                                    <input type="hidden" name="id_commento" value="{{ commento.id_commento }}" />
                                    <input type="hidden" name="id_podcast" value="{{podcast.id_podcast}}">
                                    <input type="number" name="id_episodio" value="{{episodio.id_episodio}}" hidden>
                                </div>
                                <div class="modal-footer">
                                    <button class="me-3 btn-modal ps-3 pe-3" type="submit">
                                        <h5 class="m-0">Modifica</h5>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="modal fade" id="elimina" tabindex="-1" aria-labelledby="modale-elimina" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content decorazione-modal">
                            <div class="modal-header d-flex justify-content-center">
                                <h5 class="m-0">Sei sicuro di voler cancellare il commento?</h5>
                            </div>
                            <div class="modal-body">
                                <div class="row justify-content-center align-items-start">
                                    <form action="/elimina" method="POST" enctype="multipart/form-data"
                                        class="col-4 d-flex justify-content-center">
                                        <input type="hidden" name="id_commento" value="{{ commento.id_commento }}" />
                                        <input type="number" name="id_podcast" value="{{podcast.id_podcast}}" hidden>
                                        <input type="number" name="id_episodio" value="{{episodio.id_episodio}}" hidden>

                                        <button class="btn-modal ps-3 pe-3" type="submit">
                                            <h5 class="m-0">Si</h5>
                                        </button>
                                    </form>
                                    <div class="col-4 d-flex justify-content-center">
                                        <button class="btn-modal ps-3 pe-3" data-bs-dismiss="modal">
                                            <h5 class="m-0 text-center">No</h5>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>

    {% endfor %}
    {% endif %}

    {% if current_user.is_authenticated %}
    <form class="row m-0 mt-1 justify-content-center" action="/nuovo-commento" method="POST"
        enctype="multipart/form-data">
        <div class="col-9">
            <label for="contenuto" class="visually-hidden">Commento</label>
            <input type="textarea" class="form-control" name="contenuto" placeholder="Scrivi un commento" required
                minlength="2" maxlength="140">
        </div>
        <div class="col-1">
            <button type="submit" class="btn mb-3">Commenta</button>
        </div>
        <input type="number" name="id_episodio" value="{{episodio.id_episodio}}" hidden>
        <input type="number" name="id_utente" value="{{current_user.get_id()}}" hidden>
        <input type="number" name="id_podcast" value="{{podcast.id_podcast}}" hidden>
    </form>
    {% endif %}
</div>
{% endblock %}