{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
{% endblock %}

{% block titolo %}
<title>Podcast</title>
{% endblock %}

{% block barra_laterale %}
<header id="navbar-laterale" class="navbar">
    <div class="container-fluid d-flex flex-column align-items-start">
        <h2>Podcast</h2>
        <h3 class="ps-2"><a href="{{ url_for('registrati') }}" title="Registrati">Registrati</a></h3>
        <h3 class="ps-2"><a href="#" title="Login">Login</a></h3>
        <h3 class="ps-2"><a href="#" title="Logout">Logout</a></h3>
        <h3 class="ps-2"><a href="#" title="Profilo">Profilo</a></h3>
    </div>
</header>

<aside id="barra-ricerca">
    <div class="container-fluid d-flex flex-column align-items-start">
        <h3 class="ps-2"><a href="#" title="Categorie">Categorie</a></h3>
        <h3 class="ps-2"><a href="#" title="Seguiti">I podcast che segui</a></h3>
        <h3 class="ps-2"><a href="#" title="I tuoi podcast">I tuoi podcast</a></h3>
    </div>
</aside>
{% endblock %}

{% block contenuto_principale %}
<!-- Podcast più recenti -->
<div id="recenti" class="elenco-podcast row">
    <h3 class="row">I podcast di oggi</h3>

    <div class="immagini-podcast d-flex flex-wrap">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Biscotti</h5>
                <p class="card-text">I biscotti, quelli buoni.</p>
            </div>
            <img src="{{url_for('static', filename='Immagini/Podcast/Biscotti.jpg')}}"
                class="immagine-podcast card-img-bottom" alt="Biscotti">
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">CodingIsFun</h5>
                <p class="card-text">Come rendere divertente la programmazione.</p>
            </div>
            <img src="{{url_for('static', filename='Immagini/Podcast/Coding.jpg')}}"
                class="immagine-podcast card-img-bottom" alt="Coding">
        </div>
    </div>
</div>

<!-- Tutti i podcast -->
<div id="tutti" class="elenco-podcast row">
    <h3 class="row">Tutti i podcast</h3>

    <div class="immagini-podcast d-flex flex-wrap">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">WebApp</h5>
                <p class="card-text">Impara a creare una Web App.</p>
            </div>
            <img src="{{url_for('static', filename='Immagini/Podcast/Coding 2.jpg')}}"
                class="immagine-podcast card-img-bottom" alt="Coding">
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Fioritura</h5>
                <p class="card-text">Il miglior podcast sul giardinaggio.</p>
            </div>
            <img src="{{url_for('static', filename='Immagini/Podcast/Fiori.jpg')}}"
                class="immagine-podcast card-img-bottom" alt="Fiori">
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Biscotti</h5>
                <p class="card-text">I biscotti, quelli buoni.</p>
            </div>
            <img src="{{url_for('static', filename='Immagini/Podcast/Biscotti.jpg')}}"
                class="immagine-podcast card-img-bottom" alt="Biscotti">
        </div>

        <div class="card">
            <div class="card-body">
                <h5 class="card-title">CodingIsFun</h5>
                <p class="card-text">Come rendere divertente la programmazione.</p>
            </div>
            <img src="{{url_for('static', filename='Immagini/Podcast/Coding.jpg')}}"
                class="immagine-podcast card-img-bottom" alt="Coding">
        </div>

    </div>
</div>
{% endblock %}