{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='podcast.css')}}">
{% endblock %}

{% block titolo %}
<title>Podcast - {{ podcast.titolo }}</title>
{% endblock %}

{% block barra_laterale %}
<header id="navbar-laterale" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <h2>
            Podcast
            <a class="clean-link p-0" href="{{ url_for('homepage') }}" title="Homepage">
                <i class="bi bi-house"></i>
            </a>
        </h2>

        {% if current_user.is_authenticated %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('profilo') }}" title="Profilo">Profilo</a></h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('logout') }}" title="Logout">Logout</a></h4>
        {% else %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('registrati') }}" title="Registrati">Registrati</a>
        </h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('login') }}" title="Login">Login</a></h4>
        {% endif %}
    </div>
</header>

<aside id="barra-ricerca" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <h2>Ricerca</h2>
        <h4 class="ps-2 mb-3">
            <a class="home-link" href="{{ url_for('categorie') }}" title="Categorie">Categorie</a>
        </h4>
        {% if current_user.is_authenticated %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('seguiti') }}" title="Seguiti">I podcast che
                segui</a></h4>
        {% if current_user.is_creatore() %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('tuoi_podcast') }}" title="I tuoi podcast">I tuoi
                podcast</a></h4>
        {% endif %}
        {% endif %}
    </div>
</aside>
{% endblock %}

{% block contenuto_principale %}
<div id="titolo" class="top-border">
    <div class="d-flex justify-content-evenly align-items-center">
        <img class="foto-podcast" src="{{ url_for('static', filename=podcast.immagine) }}">
        <h1 class="m-0 fst-italic"><b>{{ podcast.titolo }}</b> - <em>{{ podcast.username }}</em></h1>
    </div>
</div>

<div id="lista-pubblica" class="lista-episodi top-border pt-3">
    {% if num_episodi_pubblici == 0 %}
    <h1>Non ci sono ancora episodi per questo podcast.</h1>
    {% else %}
    <h3 class="text-center titolo">Episodi</h3>
    {% for idx in range(num_episodi_pubblici) %}
    <div class="episodio row justify-content-center">
        <div class="sfondo col-11">
            <div class="titolo-episodio row m-0 justify-content-end">
                <!-- Numero episodio - Titolo - Data -->
                <div class="col-1 ">
                    <h4 class="m-0 text-center">{{ idx + 1 }}</h4>
                </div>
                <div class="col-8">
                    <h4 class="m-0">{{ episodi_pubblici[idx].titolo }}</h4>
                </div>
                <div class="col-3">
                    <h4 class="m-0">{{ episodi_pubblici[idx].data }}</h4>
                </div>
            </div>

            <div class="titolo-episodio row m-0 justify-content-center align-items-start">
                <!-- Descrizione - Tasto play -->
                <div class="col-9 d-flex align-items-center">
                    <p class="m-0 ps-2">{{ episodi_pubblici[idx].descrizione }}</p>
                </div>
                <div class="col-2 d-flex justify-content-end">
                    {% if current_user.is_authenticated %}
                    <a href="{{ url_for('episodio', id_podcast=podcast.id_podcast, id_episodio=episodi_pubblici[idx].id_episodio) }}"
                        class="btn" tabindex="-1" role="button">Ascolta</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</div>

{% if current_user.is_authenticated and (current_user.get_id() == podcast.id_utente) %}
{% if num_episodi_privati != 0 %}
<div id="lista-privata" class="lista-episodi top-border mt-3 pt-2">
    <h3 class="text-center">Episodi non ancora pubblicati</h3>
    {% for idx in range(num_episodi_privati) %}
    <div class="episodio row justify-content-center">
        <div class="sfondo col-11">
            <div class="titolo-episodio row m-0 justify-content-end">
                <!-- Numero episodio - Titolo - Data -->
                <div class="col-1">
                    <h4 class="m-0 text-center">{{ idx + 1 + num_episodi_pubblici }}</h4>
                </div>
                <div class="col-8">
                    <h4 class="m-0">{{ episodi_privati[idx].titolo }}</h4>
                </div>
                <div class="col-3">
                    <h4 class="m-0">{{ episodi_privati[idx].data }}</h4>
                </div>
            </div>

            <div class="titolo-episodio row m-0 justify-content-center">
                <!-- Descrizione -->
                <div class="col-11 d-flex align-items-center">
                    <p class="m-0 ps-2">{{ episodi_privati[idx].descrizione }}</p>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}

<div class="mt-4 d-flex justify-content-center">
    <a type="button" class="p-2 home-link" data-bs-toggle="modal" data-bs-target="#nuovo-episodio">
        <h5 class="m-0">Aggiungi un nuovo episodio</h5>
    </a>

    <div class="modal fade" id="nuovo-episodio" tabindex="-1" aria-labelledby="modale-nuovo-episodio"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content decorazione-modal">
                <form action="/nuovo-episodio" method="POST" enctype="multipart/form-data">
                    <div class=" modal-header">
                        <h4 class="text-center">Carica un nuovo episodio</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row d-flex align-items-center mb-2">
                            <labal for="titolo" class="col-3">Titolo:</labal>
                            <input name="titolo" class="form-control col" type="text" placeholder="..." required>
                        </div>
                        <div class="row d-flex align-items-start mb-2">
                            <labal for="descrizione" class=" col-3 mt-2">Descrizione:</labal>
                            <textarea name="descrizione" class="form-control col" rows="3" required minlength="30"
                                maxlength="200"></textarea>
                        </div>
                        <div class="row d-flex align-items-start mb-2">
                            <labal for="audio" class="col-3 mt-2">File audio:</labal>
                            <input name="audio" class="form-control col" type="file" accept=".mp3" required>
                        </div>
                        <div class="row d-flex align-items-start">
                            <labal for="data_pubblicazione" class="col-3 mt-2">Data:</labal>
                            <input type="date" name="data_pubblicazione" class="form-control col" required
                                min="{{ data_oggi }}" value="{{ data_oggi }}">
                        </div>

                        <input type="hidden" name="id_podcast" value="{{ podcast.id_podcast }}" />
                    </div>
                    <div class="modal-footer">
                        <button class="me-3 ps-3 pe-3" type="submit">
                            <h5 class="m-0">Crea</h5>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}