{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='profilo.css') }}">
{% endblock %}

{% block titolo %}
<title>Podcast - Profilo</title>
{% endblock %}

{% block barra_laterale %}
<header id="navbar-laterale" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <h2>
            Podcast
            <a class="clean-link p-0" href="{{ url_for('homepage') }}" title="Homepage">
                <i class="bi bi-house"></i>
            </a>
        </h2>

        <h4 class="ps-2 mb-3"><a class="home-link active" href="#" title="Profilo">Profilo</a></h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('logout') }}" title="Logout">Logout</a></h4>
    </div>
</header>

<aside id="barra-ricerca" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <h2>Ricerca</h2>
        <h4 class="ps-2 mb-3"><a class="home-link" href="#" title="Categorie">Categorie</a></h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="#" title="Seguiti">I podcast che segui</a></h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="#" title="I tuoi podcast">I tuoi podcast</a></h4>
    </div>
</aside>
{% endblock %}

{% block contenuto_principale %}
<div id="saluto" class="row m-0 top-border">
    <div class="col-6 d-flex justify-content-evenly align-items-center">
        <img class="foto-profilo" src="{{ url_for('static', filename=current_user.get_immagine()) }}">
        <h1 class="m-0 fst-italic">Ciao {{ current_user.get_username() }}</h1>
    </div>
</div>

<div class="top-border">
    <div id="titolo" class="row m-0">
        <h2>I tuoi dati</h2>
    </div>

    <dl id="info" class="row m-0 align-items-center">
        <dt class="col-3">
            <h3>Username</h3>
        </dt>
        <dd class="col-9 m-0 d-flex justify-content-between align-items-center">
            <p class="m-0 fst-italic">{{ current_user.get_username() }}</p>
        </dd>

        <dt class="col-3">
            <h3>Email</h3>
        </dt>
        <dd class="col-9">
            <p class="m-0 fst-italic">{{ current_user.get_email() }}</p>
        </dd>

        <dt class="col-3">
            <h3>Password</h3>
        </dt>
        <dd class="col-9">
            <p class="m-0 fst-italic">{{ current_user.get_password() }}</p>
        </dd>

        <dt class="col-3">
            <h3>Tipo Utente</h3>
        </dt>
        <dd class="col-9">
            <p class="m-0 fst-italic">{{ current_user.get_tipo() }}</p>
        </dd>

        <dt class="col-3">
            <h3>Immagine profilo</h3>
        </dt>
        <dd class="col-9"><img class="foto-profilo piccola ps-0 pe-0"
                src="{{ url_for('static', filename=current_user.get_immagine()) }}"></dd>
    </dl>
</div>
{% endblock %}