{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='registrati.css')}}">
{% endblock %}

{% block titolo %}
<title>Podcast - Registrati</title>
{% endblock %}

{% block main %}
<div id="nuovo-utente" class="row justify-content-center">
    <form action="/add_new_user" method="POST" enctype="multipart/form-data" class="decorazione-form col-4">
        <h1 class="text-center fst-italic mb-5 mt-3">Registrati</h1>

        <!-- Username (Univoco) -->
        <div>
            <label for="username">Scegli il tuo username</label>
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>

        <!-- Email -->
        <div>
            <label for="email">Scrivi la tua email</label>
            <input type="email" class="form-control" name="email" placeholder="email@esempio.com">
        </div>

        <!-- Password -->
        <div>
            <label for="name">Scegli una password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>

        <div class="row justify-content-center m-0">
            <!-- Creatore -->
            <div class="col-4 m-0">
                <label for="tipo_utente" class="form-label">Cosa vuoi fare?</label>
                <select name="tipo_utente" class="form-select">
                    <option selected>Ascoltare</option>
                    <option>Creare</option>
                </select>
            </div>

            <!-- Immagine profilo -->
            <div class="col-8 m-0">
                <label for="immagine_profilo" class="form-label">Scegli un'immagine profilo</label>
                <input name="immagine_profilo" class="form-control" type="file">
            </div>
        </div>

        <div class="d-flex justify-content-center align-items-center">
            <button type="submit" class="btn btn-primary">
                </h5>Registrati</h3>
            </button>
        </div>
    </form>
</div>
{% endblock %}