{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='_style-css/Privato/tuoi_podcast.css')}}">
{% endblock %}

{% block titolo %}
<title>I Tuoi Podcast</title>
{% endblock %}

{% block barra_laterale %}
<header id="navbar-laterale" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <a class="clean-link p-0" href="{{ url_for('homepage') }}" title="Homepage">
            <h2>
                <i class="bi bi-house"></i>
                Podcast
            </h2>
        </a>

        {% if current_user.is_authenticated %}
        <h4 class="ps-2 mb-3">
            <a class="home-link" href="{{ url_for('profilo') }}" title="Profilo">Profilo</a>
        </h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('logout') }}" title="Logout">Logout</a></h4>
        {% else %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('registrati') }}" title="Registrati">Registrati</a>
        </h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('login') }}" title="Login">Login</a></h4>
        {% endif %}
    </div>
</header>

<aside id="barra-ricerca" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <h2>
            <i class="bi bi-mic"></i>
            Ricerca
        </h2>

        <h4 class="ps-2 mb-3">
            <a class="home-link" href="{{ url_for('categorie') }}" title="Categorie">Categorie</a>
        </h4>
        <h4 class="ps-2 mb-3">
            <a class="home-link" href="{{ url_for('tutti_podcast') }}" title="Categorie">Tutti i podcast</a>
        </h4>
    </div>
</aside>
{% endblock %}

{% block contenuto_principale %}
<h2 class="top-border m-0 titolo-section"><em>I tuoi podcast</em></h2>

<div class="immagini-podcast d-flex flex-wrap justify-content-start align-items-start">
    {% if num_podcast != 0 %}
    {% for podcast in tutti_podcast %}
    <div class="card">
        <img src="{{url_for('static', filename=podcast.immagine)}}" class="immagine-podcast card-img"
            alt="{{ podcast.titolo }}">

        <a href="{{ url_for('podcast', id_podcast=podcast.id_podcast) }}">
            <div class="card-img-overlay p-0">
                <div class="card-body">
                    <p class="card-title">{{ podcast.titolo }}</p>
                    <p class="card-text text-wrap">{{ podcast.descrizione }}</p>
                </div>
            </div>
        </a>
    </div>
    {% endfor %}
    {% endif %}

    <div id="card-nuovo-podcast" class="card d-flex align-items-center justify-content-end">
        <a type="button" data-bs-toggle="modal" data-bs-target="#nuovo-podcast">
            <h1 class="img-nuovo-podcast text-center"><i class="bi bi-plus-square"></i></h1>
            <div class="card-img-overlay p-0">
                <div class="card-body body-nuovo-podcast">
                    <p class="card-title">Nuovo Podcast</p>
                    <p class="card-text">Crea un nuovo podcast</p>
                </div>
            </div>
        </a>

        <div class="modal fade" id="nuovo-podcast" tabindex="-1" aria-labelledby="modale-nuovo-podcast"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content decorazione-modal">
                    <form action="/profilo/tuoi_podcast" method="POST" enctype="multipart/form-data">
                        <div class="modal-header">
                            <h3 class="text-center">Crea un nuovo podcast</h3>
                        </div>
                        <div class="modal-body">
                            <div class="row d-flex align-items-center mb-2">
                                <labal for="titolo" class="col-3">Titolo:</labal>
                                <input name="titolo" class="form-control col" type="text" placeholder="..." required>
                            </div>
                            <div class="row d-flex align-items-start mb-2">
                                <labal for="descrizione" class="col-3 mt-2">Descrizione:</labal>
                                <textarea name="descrizione" class="form-control col" rows="3" required minlength="10"
                                    maxlength="140"></textarea>
                            </div>
                            <div class="row d-flex align-items-start mb-2">
                                <labal for="immagine" class="col-3 mt-2">Immagine:</labal>
                                <input name="immagine" class="form-control col" type="file" accept=".jpg,.jpeg,.png"
                                    required>
                            </div>
                            <div class="row d-flex align-items-start">
                                <labal for="categoria" class="col-3 mt-2">Categoria:</labal>
                                <select name="categoria" class="form-control col" multiple required size="4">
                                    {% for nome_categoria, sotto_categorie in tutte_categorie.items() %}
                                    <optgroup label="{{nome_categoria}}">
                                        {% for categoria in sotto_categorie %}
                                        <option value="{{categoria}}">{{categoria}}</option>
                                        {% endfor %}
                                    </optgroup>
                                    {% endfor %}
                                </select>
                            </div>

                            <input type="hidden" name="id_utente" value="{{ current_user.get_id() }}" />
                        </div>
                        <div class="modal-footer">
                            <button class="me-3 btn-modal ps-3 pe-3" type="submit">
                                <h5 class="m-0">Crea</h5>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}