{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='_style-css/Podcast/tutti_podcast.css') }}">
{% endblock %}

{% block titolo %}
<title>Podcast</title>
{% endblock %}

{% block script %}
<script defer src="{{ url_for('static', filename='_javascript/tutti_podcast.js') }}"></script>
{% endblock %}

{% block barra_laterale %}
<header id="navbar-laterale" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <a class="clean-link p-0" href="{{ url_for('homepage') }}" title="Homepage">
            <h2>
                <i class="bi bi-house"></i>
                Podcast
            </h2>
        </a>

        {% if current_user.is_authenticated %}
        <h4 class="ps-2 mb-3">
            <a class="home-link" href="{{ url_for('profilo') }}" title="Profilo">Profilo</a>
        </h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('logout') }}" title="Logout">Logout</a></h4>
        {% else %}
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('registrati') }}" title="Registrati">Registrati</a>
        </h4>
        <h4 class="ps-2 mb-3"><a class="home-link" href="{{ url_for('login') }}" title="Login">Login</a></h4>
        {% endif %}
    </div>
</header>

<aside id="barra-ricerca" class="navbar top-border">
    <div class="container-fluid d-flex flex-column align-items-start">
        <h2>
            <i class="bi bi-mic-fill"></i>
            Ricerca
        </h2>

        <h4 class="ps-2 mb-3">
            <a class="home-link" href="{{ url_for('categorie') }}" title="Categorie">Categorie</a>
        </h4>
        <h4 class="ps-2 mb-3">
            <a class="home-link active" href="#" title="Categorie">Tutti i podcast</a>
        </h4>
    </div>
</aside>
{% endblock %}

{% block contenuto_principale %}

<div class="row m-0 justify-content-evenly align-items-center top-border">
    <h2 class="col m-0 titolo-section"><em>Tutti i podcast</em></h2>

    <div class="col-4 input-group w-auto">
        <input id="input-tutti-podcast" type="text" class="form-control" placeholder="Cerca tra i podcast"
            aria-label="cerca podcast" aria-describedby="basic-addon2" value="">
        <button class="btn-search" type="button" id="basic-addon2">
            <i class="fs-5 bi bi-search"></i>
        </button>
    </div>
</div>


<div id="tutti-podcast" class="row m-0">
    <div class="immagini-podcast d-flex flex-wrap justify-content-start align-items-start">
        {% for podcast in tutti_podcast %}
        <div class="card tutti-podcast">
            <img src="{{url_for('static', filename=podcast.immagine)}}" class="immagine-podcast card-img"
                alt="{{ podcast.titolo }}">

            <a href="{{ url_for('podcast', id_podcast=podcast.id_podcast) }}">
                <div class="card-img-overlay p-0">
                    <div class="card-body">
                        <p class="card-title m-0">{{ podcast.titolo }}</p>
                        <p class="card-subtitle mb-1 fst-italic">{{ podcast.username }}</p>
                        <p class="card-text text-wrap">{{ podcast.descrizione }}</p>
                    </div>
                </div>
            </a>
        </div>
        {% endfor %}
        <h2 id="nessun-risultato" class="text-center m-0 mt-3 non-visibile">La ricerca non ha dato risultati</h2>
    </div>
</div>

<div class="m-0 mt-4 d-flex justify-content-around">
    <a href="{{ url_for('homepage') }}" class="main-link">
        <h5 class="m-0 p-1">Torna alla Home</h5>
    </a>

    <a href="{{ url_for('categorie') }}" class="main-link">
        <h5 class="m-0 p-1">Tutte le categorie</h5>
    </a>
</div>
{% endblock %}